/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* Conteneur principal */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

/* Sections principales */
header, .main-container, footer {
    margin: 0;
    padding: 0;
}

/* Reset de base */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    color: #000;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: none;
}

header .logo img {
    width: 120px;
    margin: 30px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 65px;
    margin: 3px 30px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    padding: 0px;
    padding-top: 2px;
    position: relative;
    transition: color 0.3s ease, border-top 0.3s ease;
    text-align: left;
}

header nav ul li a:hover {
    color: #0065FC;
}

header nav ul li a:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0065FC;
}

/* Titre principal */
.headline h1 {
    width: 1340px;
    height: 26px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 30px;
    margin-bottom: 8px;
}

/* Paragraphe sous le titre */
.headline p {
    width: 1340px;
    height: 19px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 0 20px;
    border-radius: 25px 0 0 25px;
    outline: none;
    margin-left: 15px;
    margin-bottom: 24px;
}

/* Styles communs */
/* Images */
img {
    object-fit: cover;
    border-style: solid;
    border-color: #FFFFFF;
}

/* Cartes */
.card, .popular ul li, .activity-card {
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Textes des cartes */
.card h3, .popular ul li h3, .activity-card .card-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: left;
}

/* Étoiles */
.stars, .star, .starss {
    width: 72.9px;
    height: 11.93px;
    display: flex;
    gap: 0px;
    position: relative;
    padding: 0px;
}

.stars .fas, .popular ul li .star .fas, .popular ul li .starss .fas {
    color: #0065FC;
}

.stars i:last-child, .popular ul li .star i:last-child, .popular ul li .starss i:last-child {
    color: #F2F2F2;
}

/* Barre de recherche */
.search-bar {
    display: flex;
    width: 377px;
    height: 49px;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    gap: 10px;
    margin: 30px;
}

.icon-container {
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 15px 0 0 15px;
    height: 49px;
    margin-left: -10px;
}

.location-input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 10px;
}

.location-input input {
    border-left: 1px solid #F2F2F2;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;
    border-radius: 10px;
    padding: 10px;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: white;
    color: #000;
    outline: none;
    width: 100%;
}

.location-input i {
    margin-right: 10px;
    color: #000;
    margin-left: 10px;
}

.search-button {
    background-color: #0065FC;
    color: #fff;
    border: none;
    border-radius: 0 15px 15px 0;
    height: 49px;
    padding: 0 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
}

.search-button i {
    display: none;
}

/* Filtres */
.filter-btn {
    display: flex;
    gap: 20px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 758px;
    height: 50px;
    opacity: 1;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.filter-label {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 24px;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    background-color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
}

.filter span {
    font-family: Raleway, sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.96px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
}

.filter i {
    color: #0065FC;
    font-size: 16px;
}

.filter:hover {
    background-color: #DEEBFF;
    border-color: #B0B0B0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Info */
.info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    color: black;
    text-align: left;
    height: 19px;
    opacity: 1;
    margin: 30px;
}

.info i {
    background-color: white;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-right: 5px;
}

/* Container principal */
.main-container {
    display: flex;
    gap: 40px;
    margin: 30px;
}

/* Section Hébergements */
.accommodations {
    width: 65%;
    height: 580px;
    padding: 30px 0 0 0;
    gap: 30px;
    border-radius: 15px;
    background: #F2F2F2;
    opacity: 1;
}

.accommodations h2 {
    width: 811px;
    height: 26px;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    margin-left: 60px;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    padding: 0 0 15px 0;
    border-radius: 20px 0 0 0;
    align-items: center;
    justify-content: center;
    opacity: 1;
    gap: 50px;
    margin: 35px auto 0;
}

/* Styles spécifiques des cartes */
.card {
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 180px;
}

.card img {
    width: 225px;
    height: 112px;
    padding-right: 2%;
    border-radius: 20px 20px 0 0;
    border-width: 5px;
}

.card h3 {
    font-size: 14.4px;
    line-height: 16.9px;
    margin: 0 13.5px 7px;
}

.card p {
    font-family: 'Raleway', sans-serif;
    font-size: 12.6px;
    font-weight: 400;
    line-height: 14.8px;
    text-align: left;
    margin: 0 13.5px 7px;
}

.stars {
    margin: 0 13.5px;
    transform: translateY(-3.6px);
}

.stars .fas {
    font-size: 12.86px;
}

/* Section Populaire */
.popular {
    width: 33%;
    height: 580px;
    padding: 30px 0 0 0;
    gap: 0px;
    border-radius: 20px;
    background: #F2F2F2;
    opacity: 1;
    position: relative;
}

.popular h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    margin-left: 26px;
}

.popular-header i {
    color: #0065FC;
    font-size: 16px;
    width: 18px;
    height: 15.75px;
    position: absolute;
    right: 30px;
    margin-top: -25px;
}

.popular ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    list-style: none;
    align-items: center;
    margin: 20px 0;
}

.popular ul li {
    width: 369px;
    display: flex;
}

.popular ul li img {
    width: 123px;
    height: 146px;
    border-radius: 20px 0px 0px 20px;
    border-width: 5px 0px 5px 5px;
}

.popular ul li img:last-child {
    width: 246px;
}

.popular ul li .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 5px;
    width: 226px;
}

.popular ul li h3 {
    font-size: 16px;
    line-height: 18.78px;
    width: 226px;
    margin: 0 0 5px 0;
}

.popular ul li p {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.44px;
    text-align: left;
    width: 226px;
    height: auto;
    margin-bottom: 24px;
}

.star {
    margin: 5px;
}

.popular ul li .star .fas,
.popular ul li .starss .fas,
.popular ul li .star i:last-child,
.popular ul li .starss i:last-child {
    font-size: 14px;
}

.starss {
    margin-top: 18px;
}

/* Section Activités */
.activities-section {
    width: 1340px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activities-section h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin: 50px 0 0;
    padding-left: 30px;
}

.activities {
    display: flex;
    gap: 30px;
    margin: 0 30px;
}

.activity-card {
    width: 297.5px;
    height: 437px;
}

.activity-card img {
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity-card .card-text {
    width: 100%;
    height: auto;
    padding: 20px 19px;
    background-color: #FFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display
}
/* Suite du fichier précédent... */

.activity-card .card-text {
    width: 100%;
    height: auto;
    padding: 20px 19px;
    background-color: #FFF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

/* Footer */
.footer {
    width: 1340px;
    height: auto;
    background-color: #F2F2F2;
    margin: 100px auto 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 0px;
}

.footer-section {
    max-width: 446.67px;
    padding: 20px 20px 0 20px;
    gap: 15px;
}

.footer-section h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: left;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 15px;
}

.footer-section ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    text-decoration: none;
    color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    header .logo img{
        width: 61px;
    }

    header nav ul{
        margin-right: 50px;
    } 
    .filters{
        margin-bottom: 50px;
        flex-direction: column;
        align-items: start;
    }    

    .filter-label{
        position: relative;
    }
    .filter-btn{
        display: flex;
        gap: 15px;
    }
    .filter{
      padding: 8px 20px;  
    }
    .info{
        margin-top: 30px;
    }

    .main-container{
        flex-direction: column;
    }
    .accommodations{
        width: 100%;
        max-width: 924px;
        height: 611.5px;
    }
    .accommodations h2{
        margin-left: 30px;
        margin-top: 1px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 30px;
        padding: 20px;
    }
    .card{
        width: 100%;
        height: 207.25px;
    }
    .card img{
        width: 100%;
        height: 124px;
        object-fit: cover;
    }
    
    .popular {
        width: 100%;
        max-width: 924px;
        height: auto; 
        margin: 0; 
    }
    
    .popular h2 {
        margin-top: 0;
    }
    
    .popular ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; 
        padding: 10px; 
        margin: 0; 
        width: 100%;
        box-sizing: border-box; 
    }
    
    .popular ul li {
        width: 100%;
        box-sizing: border-box;
    }
    
    .popular ul li h3, 
    .popular ul li p {
        width: 100%;
        min-width: 100px;
        margin: 0; 
    }
    
    .popular ul li img {
        width: 100%;
        max-width: 91.5px;
        object-fit: cover;
    }
    .activities-section {
        width: 100%;
        padding: 0 20px;
    }
    
    .activities {
        display: flex;
        flex-wrap: nowrap;
    }

    .activity-card {
        flex: 1;
        min-width: 150px;
        height: 270px;
    }

    .activity-card img {
        width: 100%;
        height: 210px;
        object-fit: cover;
    }

    .activity-card .card-text {
        font-size: 10px;
    }
    .footer{
        width: 100%;
        max-width: 965px;
        height: 163px;
    }
}


@media screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 10px 20px;
        border-bottom: 2px solid #F2F2F2;
     }
     
    header nav {
        width: 100%;
     }
     
    header nav ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
     }

    header nav ul li a:hover::before {
        top: auto;
        bottom: -5px;
        width: 350px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .headline h1 {
        width: 100%;
        margin: 25px 15px;
    }
    
    .headline p {
        width: 100%;
        margin-left: -3px;
    }
    
    .main-container {
        flex-direction: column-reverse;
    }
    
    .search-bar {
        width: 100%;
        margin: 15px auto;
        margin-bottom: 20px;
    }
    
    .search-button {
        width: 49px;
        height: 49px;
        border-radius: 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }
    
    .search-button i {
        display: block;
    }
    
    .search-button span {
        display: none;
    }
    
    .filters {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        gap: 10px;
        margin: 15px;
        padding: 20px;
    }
    
    .filter {
        width: calc(50% - 10px);
        height: 40px;
    }
    
    .filter-btn {
        display: flex;
        gap: 15px;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0 15px;
    }
    
    .info {
        margin: 10px;
    }
    
    .accommodations {
        background: #FFF;
        width: 100%;
    }
    
    .accommodations h2 {
        margin-left: 15px;
        width: 100%;
    }
    
    .cards {
        display: flex;
        gap: 16px;
        flex-direction: column;
        align-items: center;
    }
    
    .card {
        width: 100%;
        height: 207.25px;
    }
    
    .card img {
        width: 100%;
        height: 124px;
        object-fit: cover;
    }
    
    button {
        margin-left: 15px;
    }
    
    .popular {
        width: calc(100% + 60px);
        border-radius: 0;
        margin-left: -30px;
    }
    
    .popular ul {
        width: 100%;
        max-width: 500px;
        margin: 35px auto;
        padding: 0 20px;
     }
     
     .popular h2 {
        line-height: 30px;
        margin-left: 15px;
        width: 100%;
        }
     
     .popular ul li {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        height: 136px;
     }
     
     .popular ul li img {
        width: 111.67px;
        height: 135px;
        object-fit: cover;
     }
    
    .activities-section {
        width: 100%;
        padding-top: 845px;
        margin-left: 5px;
    }
    
    .activities {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
    
    .activity-card {
        width: 100%;
        height: 200px;
    }
    
    .activity-card img {
        width: 100%;
        height: 141px;
        object-fit: cover;
    }
    
    .footer {
        flex-direction: column;
        bottom: 0;
        width: 100%;
    }
}